<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ztrm - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/CustomSite.css"/>
</head>

<body>
    <header>
        <nav >
            <div >
                <ul>
                    <li>
                        <a asp-area="" asp-page="/Home">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Random Thoughts">Random Thoughts</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Publications">Publications</a>
                    </li>
                    <li>
                </ul>
            </div>
        </nav>
    </header>

    <div >
        <main >
            @RenderBody()
        </main>
    </div>

    <footer >
        <div >
            &copy; 2022 - Zackary T. Morelli - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
