<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>

        <!--local CSS stylesheets -->
        <link rel="stylesheet" href="~/css/layout.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />

        <!--Remote Stylesheets -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">

        <!--local JS files -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    </head>

    <body class="body-custom">
        <header>
            <nav class="nav">
                <a class="nav-link" asp-page="/Index">Home</a>
                <a class="nav-link" asp-page="/RandomThoughts">Random Thoughts</a>
                <a class="nav-link" asp-page="/Publications">Publications</a>
                <a class="nav-link" asp-page="/PhysicsMaterial">Physics Material</a>
                <a class="nav-link" asp-page="/Books">Books</a>
                <a class="nav-link" asp-page="/AboutMe">About Me</a>
            </nav>
        </header>

        <div>
            <main>
                @RenderBody()
            </main>
        </div>

        <footer id="layoutFooter" class="container-fluid footer fixed-bottom">
            <div class="flex-col-container  row">
                <div id="adaptiveFooterContainer" class="flex-row-container" style="align-content: center;">
                    <div id="footerText" class="flex-row-container" style="padding-left: 5px; padding-right: 5px; min-width: 202.77px;">
                        <span>This website is powered by:</span>
                    </div>

                    <div style="justify-content: space-around;" class="flex-row-container">
                        <div class="flex-row-container">
                            <div id="firstFooterImage" class="col" style="padding-right: 5px;">
                                <img src="/images/windows-server-logo.jpg" alt="Windows Server logo" />
                            </div>

                            <div class="col">
                                <img src="/images/microsoft-iis2928.jpg" alt="IIS logo" />
                            </div>

                            <div class="col">
                                <img src="/images/aspnetcore.png" alt="ASP.NET logo" />
                            </div>

                            <div class="col">
                                <img src="/images/microsoft-sql-server-logo.png" alt="SQL Server logo" />
                            </div>

                            <div class="col">
                                <img src="/images/bootstrap-logo-vector.png" alt="Bootstrap logo" />
                            </div>

                            <div style="width: 125px; align-self: center;" class="col">
                                <a target="_blank" href="https://freedns.afraid.org/">Free DNS</a>
                            </div>
                        </div>

                        <div style="align-items: center; border-left: 2px solid #b3b3b3" class="flex-row-container">
                            <div style="align-items: center;" class="col flex-row-container">
                                <img src="/images/github-logo.png" alt="Github logo"/>
                                <a style="margin-left: 5px;" target="_blank" href="https://github.com/zackmorelli">Github</a>
                            </div>

                            <div style="align-items: center;" class="col flex-row-container">
                                <img src="/images/linked-in.png" alt="LinkedIn logo" />
                                <a style="margin-left: 5px; width: 65px;" target="_blank" href="https://www.linkedin.com/in/zackary-morelli-363806143">Linked In</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" style="padding-left: 5px; padding-top: 5px;">
                    <div class="col">
                        &copy; 2024 - Zackary T. Morelli - <a asp-area="" asp-page="/Privacy">Privacy</a>
                    </div>
                </div>

            </div>

        </footer>

    </body>
</html>
