@page
@model ztrm.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

<div class="flex-col" style="margin-top: 6px;">
    <div class="flex-row">
        <p style="margin-left: 7px; font-family: 'Times New Roman', Times, serif;">
            I live with my beautiful girlfriend Leah on the Northshore of Eastern Massachusetts, U.S.A.
            I work at a local software development company and have a bachelors of science degree in Physics from Umass Lowell.
            In my free time I love to play Paradox strategy games like Hearts of Iron, Stellaris, and Victoria 3.
        </p>
    </div>
    <div class="flex-row">
        <div style="margin-right: 10px; border: 2px solid #b3b3b3;">
            <img src="/images/zack_and_leah_in_summer.jpg" alt="zack and leah" />
        </div>

        <div style="margin-right: 10px; border: 2px solid #b3b3b3;">
            <img src="/images/zack_with_dogs.jpg" alt="zack with dogs" />
        </div>

        <div>
            <img style="border: 2px solid #b3b3b3;" src="/images/zack_and_demi.jpg" alt="zack and demi" />
        </div>
    </div>

</div>
