@page
@model ztrm.Pages.BooksModel
@{
    ViewData["Title"] = "Books";
}

<div class="flex-col" style="margin-top: 6px;">

    <p>
        I used to be an avid reader of fantasy and science fiction novels in my younger years. Feel free to peruse my collection of PDF books.
    </p>

</div>
