@page
@model IndexModel

@{
    ViewData["Title"] = "ztrm - Home Page";
}

<style>

    @@media screen and (max-width: 650px)
    {
        .flex-row-container-adaptive
        {
            flex-direction: column;
        }

        #homePageText
        {
            margin-top: 8px;
            margin-left: 0px;
        }
    }


</style>

<div class="flex-row-container-adaptive main-container">
    <img style="max-width: 400px; border: 2px solid #b3b3b3;"  src="~/images/pic_of_zack.jpg" alt="picture of zack wearing blue light glasses with purple light in the background" />

    <p id="homePageText" class="coolText" style="margin-left: 8px;">
        Hi, my name is Zackary Morelli. Welcome to my personal website.
        I am a physicist by education and software developer by trade.
        This website serves as a personal blog and also as a test bed for me to experiment with web development and server management.
        Feel free to look around. You may reach me at <a href="mailto:ztrm@ztrm.net" target="_blank">ztrm@ztrm.net</a>.
    </p>
</div>
