@page
@model ztrm.Pages.PhysicsMaterialModel
@{
    ViewData["Title"] = "Physics Material";
}

<div class="flex-col" style="margin-top: 6px;">


    <p>
        This page houses my collection of PDF physics textbooks for those who are interested.
    </p>


</div>