@page
@model ztrm.Pages.Shared.PublicationsModel
@{
    ViewData["Title"] = "Publications";
}

<div class="flex-col" style="margin-top: 6px;">

    <p>
        This is my collection of scholarly papers.
    </p>

</div>
