@page
@using ztrm.Models.RandomThoughts
@model ztrm.Pages.RandomThoughtsPageModel

@{
    ViewData["Title"] = "ztrm.net - Random Thoughts";
}

<div class="flex-col-container main-container">

    @foreach (RandomThoughtsCategoryLookup category in Model.RandomThoughtsCategories)
    {
        <h4>@category.categoryname</h4>
        <ul>
            @foreach (RandomThought randomThought in Model.RandomThoughts.Where(rt => rt.RandomThoughtsCategories.First().categoryid == category.categoryid))
            {
                //string randomThoughtInfo = randomThought.Title + " - " + randomThought.PublishedDate.ToShortDateString();

                <li><a href="@Url.Page("/RandomThought", new { postId = randomThought.postid })" target="_blank">@randomThought.title</a> - @randomThought.publisheddate.ToShortDateString()</li>     
            }
        </ul>
    }

</div>












