@page "/RandomThought/{postId:int}"
@model ztrm.Pages.RandomThoughtPageModel


@{

    ViewData["Title"] = Model.RandomThought.title;
}


<div class="flex-col-container main-container">

    <h3>@Model.RandomThought.title</h3>


    <p>
        @Model.RandomThoughtText
    </p>


</div>



